@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(121deg, #4568dc, #b06ab3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}

#container{
    width: 60%;
    height: 600px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 24px 20px;
}

h1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 22px;
}

form{
    display: flex;
    justify-content: center;
}

input{
    padding: 8px;
    width: 50%;
    border: 1px solid #000;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button{
    background-color: #2196f3;
    color: #fff;
    border: 1px solid #000;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #1976d2;
}

#result{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h4{
    font-size: 14px;
    margin-bottom: 5px;
}

p{
    font-size: 13px;
}

#map{
    height: 62%;
    /* margin-top: 15px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#footer{
    margin-top: 12px;
    text-align: center;
}

#footer p{
    font-size: 16px;
    color: #000;
}

#footer a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#footer a:hover{
    color: #2196f3;
}

@media screen and (width < 1100px) {

    h1{

        font-size: 24px;

    }


    .container{

        width: 80%;

    }




    .responsive{

        display: none;

    }




    #result{

        justify-content: space-around;

    }




    input, button{

        font-size: 13px;

    }

}

@media screen and (width < 800px) {
    #container{
        width: 90%;
        margin: 10px;
        padding: 0 20px;
    }

    #footer{
        margin-top: 15px;
    }

    #footer p{
        font-size: 16px;
    }

    #map{
        height: 60%;
    }
}

/* Small devices (portrait tablets and large phones, max 600px) */
@media only screen and (max-width: 600px) {
    #container{
        width: 100%;
        padding: 55px 20px;
    }

    #map{
        height: 65%;
    }
}


@-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}